.DS_Store

# Diese Dateien werden beim kompilieren erzeugt:
*.bbl
*.blg
*.aux
*.bcf
*.ilg
*.lof
*.log
*.lot
*.nlo
*.nls*
*.out
*.toc
*.run.xml
meta/*.log
*.yml

fom_leitfaden/

# IDEs
.texpadtmp/
.idea/
.gradle/
*.iml
.iml
*.*~
*~
