dist: trusty
before_install:
  - sudo add-apt-repository ppa:jonathonf/texlive -y 
  - sudo apt-get update
  
install:
  - sudo apt-get install -y texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended texlive-bibtex-extra texlive-lang-german texlive-generic-extra biber --no-install-recommends
  - sudo apt-get install xzdec
  - sudo tlmgr init-usertree
  - sudo tlmgr install biblatex-ext

script:
  - pdflatex --version
  - biber --version
  - ./compile.sh
